<p id="notice"><%= notice %></p>

<h1>Manuscripts</h1>

<p><%= link_to 'New Manuscript', new_manuscript_path, class: 'btn btn-default' %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Shelfmark</th>
      <th>URL</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @manuscripts.each do |manuscript| %>
      <tr>
        <td><%= manuscript.title %></td>
        <td><%= manuscript.shelfmark %></td>
        <td><%= link_to shorten(manuscript.url), manuscript.url %></td>
        <td>
          <%= link_to 'Show', manuscript, class: 'btn btn-default btn-sm' %>
        </td>
        <td>
          <%= link_to 'Edit', edit_manuscript_path(manuscript),
                class: 'btn btn-default btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Manuscript', new_manuscript_path, class: 'btn btn-default' %></p>
