<p id="notice"><%= notice %></p>

<p><%= render 'bread_crumbs' %></p>

<h1>Manuscript: <%= @manuscript.title %></h1>


<div class="row">
  <div class="col-sm-2">
    <p class="field-label">Title</p>
  </div>
  <div class="col-sm-10">
    <p class="field-value"><%= @manuscript.title %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <p class="field-label">Shelfmark</p>
  </div>
  <div class="col-sm-10">
    <p class="field-value"><%= @manuscript.shelfmark %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <p class="field-label">URL</p>
  </div>
  <div class="col-sm-10">
    <p class="field-value">
      <% if @manuscript.url.present? -%>
        <%= link_to shorten(@manuscript.url), @manuscript.url %>
      <% end -%>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <p class="field-label">Text direction</p>
  </div>
  <div class="col-sm-10">
    <p class="field-value"><%= @manuscript.text_direction_name %></p>
  </div>
</div>

<p>
  <%= link_to 'Edit', edit_manuscript_path(@manuscript), class: 'btn btn-default' %>
  <%= link_to "Leaves XML", manuscript_xml_path(@manuscript, xml_type: :filled_quires, format: :xml), class: 'btn btn-default' %>
  <%= link_to "Joins XML", manuscript_xml_path(@manuscript, xml_type: :default, format: :xml), class: 'btn btn-default' %>
</p>

<% if @manuscript.quires.present? -%>
  <h3>Quires</h3>

  <% skips = @manuscript.leaf_skips %>

  <div class="row">
    <div class="col-sm-9">
      <div class="panel-group" role="tablist" aria-multiselectable="true">
        <% @manuscript.quires.each do |quire| -%>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="quire_heading_<%= quire.id %>">
              <div class="row">
              <div class="col-sm-6">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#quire_body_<%= quire.id %>" aria-expanded="false" aria-controls="quire_body_<%= quire.id %>">
                    Quire <%= quire.position %> (<%= quire.leaves.size %> leaves)
                  </a>
                </h4>
              </div>
              <div class="col-sm-2 pull-right">
                <%= link_to 'Edit', edit_quire_path(quire), class: 'btn btn-xs btn-default' %>
                <%= link_to 'x', [ @manuscript, quire ], method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
              </div>
              </div>
            </div>
            <div id="quire_body_<%= quire.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="quire_heading_<%= quire.id %>">
              <div class="panel-body">
                <% if quire.quire_leaves.present? %>
                    <table class="table">
                      <thead>
                      <th scope="col"><strong>Leaf</strong></th>
                      <th scope="col"><strong>Folio number</strong></th>
                      <th scope="col"><strong>Folio certainty</strong></th>
                      <th scope="col"><strong>Single</strong></th>
                      <th scope="col"><strong>Single certainty</strong></th>
                      <th scope="col"><strong>Quire uncertain</strong></th>
                      <th scope="col"><strong>Mode</strong></th>
                      <th scope="col"><strong>Mode certainty</strong></th>
                      <th scope="col"><strong>Subquire</strong></th>
                      <th></th>
                      </thead>
                      <tbody>
                      <% quire.quire_leaves.each do |quire_leaf| %>
                          <tr>
                            <td scope="row"><%= quire_leaf.position %></td>
                            <td scope="row"><%= quire_leaf.folio_number %></td>
                            <td scope="row"><%= quire_leaf.folio_number_certainty %></td>
                            <td scope="row"><%= quire_leaf.leaf_single?.yesno %></td>
                            <td scope="row"><%= quire_leaf.quire_uncertain.yesno %></td>
                            <td scope="row"><%= quire_leaf.leaf_mode %></td>
                            <td scope="row"><%= quire_leaf.leaf_mode_certainty %></td>
                            <td scope="row"><%= quire_leaf.subquire %></td>
                            <td scope="row">
                              <% if skips.include?(quire_leaf.leaf_id) %>
                                  <%= form_for quire_leaf.leaf, url: update_numbering_path(@manuscript, quire_leaf.leaf), method: :put, html: {class: 'form-inline', id: "renumber_from_leaf_#{quire_leaf.leaf_id}"} do |f| %>
                                      <%= f.submit 'Renumber from here', class: 'btn btn-primary btn-xs' %>
                                      <div class="form-group">
                                        <%= f.select :new_number, Leaf::FOLIO_NUMBERS, { selected: quire_leaf.leaf.folio_number_int.pred }, { class: 'form-control input-sm'} %>
                                      </div>
                                  <% end %>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                <% end %>
              </div>
            </div>
          </div>

        <% end -%>
      </div>
    </div>
  </div>

<% end -%>

<div class="row">
&nbsp;
</div>
<div class="row">
  <div class="col-sm-8">
    <%= form_for @manuscript, url: create_quires_path(@manuscript), method: :post, html: { id: "manuscript_#{@manuscript.id}_create_quires", class: 'form-inline' } do |f| %>
    <div class="form-group">
      <%= f.label :quire_number_input, 'Quires', class: "control-label" %>
      <%= f.select :quire_number_input, (1..100), { selected: 20 }, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :leaves_per_quire_input, 'Leaves/quire', class: "control-label"  %>
      <%= f.select :leaves_per_quire_input, (2..30).step(2).map(&:itself), { selected: 8 }, { class: "form-control", style: 'max-width: 80px;' } %>
    </div>
    <div class="form-group">
      <%= f.submit 'Add Quires', class: "btn btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
<div class="row">
&nbsp;
</div>
<div class="row">
&nbsp;
</div>
<div class="row">
&nbsp;
</div>
