<p id="notice"><%= notice %></p>

<p><%= render 'bread_crumbs' %></p>

<h1>Manuscript: <%= @manuscript.title %></h1>


<div class="row">
  <div class="col-sm-2">
    <p class="field-label">Title</p>
  </div>
  <div class="col-sm-10">
    <p class="field-value"><%= @manuscript.title %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <p class="field-label">Shelfmark</p>
  </div>
  <div class="col-sm-10">
    <p class="field-value"><%= @manuscript.shelfmark %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
    <p class="field-label">URL</p>
  </div>
  <div class="col-sm-10">
    <p class="field-value">
      <% if @manuscript.url.present? -%>
        <%= link_to shorten(@manuscript.url), @manuscript.url %>
      <% end -%>
    </p>
  </div>
</div>

<p>
  <%= link_to 'Edit', edit_manuscript_path(@manuscript), class: 'btn btn-default' %>
  <%= link_to "Leaves XML", manuscript_xml_path(@manuscript, xml_type: :filled_quires), class: 'btn btn-default' %>
  <%= link_to "Joins XML", manuscript_xml_path(@manuscript, xml_type: :default), class: 'btn btn-default' %>
</p>

<% if @manuscript.quires.present? -%>
  <h3>Quires</h3>

  <% skips = @manuscript.leaf_skips %>

  <div class="row">
    <div class="col-sm-8">
      <div class="panel-group" role="tablist" aria-multiselectable="true">
        <% @manuscript.quires.each do |quire| -%>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="quire_heading_<%= quire.id %>">
              <div class="row">
              <div class="col-sm-6">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" href="#quire_body_<%= quire.id %>" aria-expanded="false" aria-controls="quire_body_<%= quire.id %>">
                    Quire <%= quire.position %> (<%= quire.leaves.size %> leaves)
                  </a>
                </h4>
              </div>
              <div class="col-sm-2 pull-right">
                <%= link_to 'Edit', edit_quire_path(quire), class: 'btn btn-xs btn-default' %>
                <%= link_to 'x', [ @manuscript, quire ], method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
              </div>
              </div>
            </div>
            <div id="quire_body_<%= quire.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="quire_heading_<%= quire.id %>">
              <div class="panel-body">
                <% if quire.leaves.present? %>
                  <ul>
                    <% quire.leaves.each do |leaf| %>
                      <li><% if skips.include?(leaf.id) %>
                      <%= form_for leaf, url: update_numbering_path(@manuscript, leaf), method: :put, html: {class: 'form-inline', id: "renumber_from_leaf_#{leaf.id}"} do |f| %>
                      <%= leaf.description %>
                      <%= f.submit 'Renumber from here', class: 'btn btn-primary btn-xs' %>
                      <div class="form-group">
                      <%= f.label :new_number %>
                      <%= f.select :new_number, Leaf::FOLIO_NUMBERS, { selected: leaf.folio_number_int.pred }, { class: 'form-control input-sm'} %>
                      </div>
                      <% end %>
                      <% else %>
                      <%= leaf.description %>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>

        <% end -%>
      </div>
    </div>
  </div>

<% end -%>

<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Add Quire', new_manuscript_quire_path(manuscript_id: @manuscript),
    class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
&nbsp;
</div>
<div class="row">
  <div class="col-sm-8">
    <%= form_for @manuscript, url: create_quires_path(@manuscript), method: :post, html: { id: "manuscript_#{@manuscript.id}_create_quires", class: 'form-inline' } do |f| %>
    <div class="form-group">
      <%= f.label :quire_number_input, 'Quires', class: "control-label" %>
      <%= f.select :quire_number_input, (1..100), { selected: 20 }, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= f.label :leaves_per_quire_input, 'Leaves/quire', class: "control-label"  %>
      <%= f.select :leaves_per_quire_input, (2..30).step(2).map(&:itself), { selected: 8 }, { class: "form-control", style: 'max-width: 80px;' } %>
    </div>
    <div class="form-group">
      <%= f.submit 'Add Quires', class: "btn btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
