<p id="notice"><%= notice %></p>

<h1>Manuscript: <%= @manuscript.title %></h1>

<div class="container">

  <div class="row">
    <div class="col-sm-2">
      <p class="field-label">Title</p>
    </div>
    <div class="col-sm-10">
      <p class="field-value"><%= @manuscript.title %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <p class="field-label">Shelfmark</p>
    </div>
    <div class="col-sm-10">
      <p class="field-value"><%= @manuscript.shelfmark %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <p class="field-label">URL</p>
    </div>
    <div class="col-sm-10">
      <p class="field-value"><%= @manuscript.url %></p>
    </div>
  </div>

</div>

<% if @manuscript.quires.present? -%>
  <h3>Quires</h3>
  <% @manuscript.quires.each do |quire| -%>

    <div class="row">
      <div class="col-sm-3">
        <p>Quire <%= quire.number %></p>
      </div>
      <div class="col-sm-3">
        <p class="field-value"><%= link_to "Edit", edit_quire_path(quire) %></p>
      </div>
    </div>

    <% if quire.leaves.present? %>
      <div class="row">
        <div class="col-sm-3">
          <ul>
            <% quire.leaves.each do |leaf| %>
              <li>Leaf: <%= leaf.position %> (fol. <%= leaf.folio_number %>) <%= leaf.mode %> <%= leaf.single? ? "single" : "" %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  <% end -%>
<% end -%>

<%= link_to 'Edit', edit_manuscript_path(@manuscript) %> |
<%= link_to 'Back', manuscripts_path %>
